<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="W5XD_antennas.Properties.ASW12V" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <W5XD_antennas.Properties.ASW12V>
            <setting name="CommPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SavedVersion" serializeAs="String">
                <value>0</value>
            </setting>
        </W5XD_antennas.Properties.ASW12V>
    </userSettings>
</configuration>